<!DOCTYPE html>
<html ng-app="lookupApp">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="LookupApp.js"></script>
</head>
<body ng-controller="LookupController">
    <input type="text" ng-model="clentryid" placeholder="clentryid moet zijn gezet bij reserveren"/>
    <select ng-model="selectedid">
        <option ng-repeat="item in lookup" value="{{item.ID}}" ng-disabled={{item.Reserved}}>{{item.FirstName}} {{item.LastName}}</option>
    </select>
    <button ng-click="reserve()">Reserveer</button>
    <input type="text" ng-model="selectedid" placeholder="selectedid zetten voor vrijgeven"/>
    <button ng-click="unreserve()">Vrijgeven</button>
</body>
</html>